@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

label{
    display: block;
    margin-top: 2rem;
}
input{
    height: 2rem;
    border: none;
    border-bottom :1px rgb(243, 215, 225);
    padding: 0 2rem;
}
input:focus{
    outline: none;
    border-bottom: 2rem;
    height: 2rem;
}

#output{
    height: 30rem;
}

.box{
    width: 200px;
    height: 200px;
    padding: 5%;
    border:5px solid rgb(243, 183, 183);
    box-shadow: 5px 5px 10px rgb(143, 52, 52);  
    margin-left: 2rem;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border-radius: 15px;
    background-color: white;
    display: inline-flex;
}

.calculate{
    color: black;
    padding: 0.5rem;
    background-color: cornflowerblue;
    border-radius: 20px;
}

.calculate1{
    color: black;
    padding: 0.5rem;
    background-color: cornflowerblue;
    border-radius: 20px;
}

a{
    text-decoration: none;
    color: rgb(14, 1, 6);
    font-size: 1.5rem;
}



body{
    height: 100vh;
    
    
    background:  url('https://images.news18.com/ibnlive/uploads/2021/03/1615695964_math-day-shutterstock.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

@media (max-width: 991px){
    h2{
        font-size: 1rem;
    }
    
}

.cbox{
    justify-content: center;
    flex-direction: row;
    width: 100rem;
    height: 100rem;
    padding: 7%;
}

.design_heading{
    font-size: 2rem;
    color: rgb(2, 2, 2);
    padding-left: 3rem;
    font-family: 'Roboto';
    text-indent: 1px;
    font: 400;
}

header {
	background: rgba(245, 215, 215, 0.267);
}

nav {
	float: right;
}

.navbar {
	width: 5px;
	margin: 0 auto;
	z-index: 5; 
}

.nav-logo {  	
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 1.7rem;
	color: white;
	font-family:  sans-serif;
	float:left;
}

.sticky {		/*To make navbar sticky*/
  position: fixed;
  top: 0;
  width: 100%;
}

